APP_PORT=8000
DATABASE_URL="postgresql://postgres:123@localhost:5432/nestjs?schema=public"

# Authentication secret string
AUTH_SECRET="XXXXXXXXXXX"
ACCESS_JWT_TOKEN_SECRET="XXXXXXXXXXX"
ACCESS_JWT_TOKEN_EXPIRES_IN="15m"
REFRESH_JWT_TOKEN_SECRET="XXXXXXXXXXX"
REFRESH_JWT_TOKEN_EXPIRES_IN="60 days"

# Iinitial system and admin users
INITIAL_SYSTEM_USER="system@system.com"
INITIAL_SYSTEM_PASSWORD="DEFINE PASSWORD HERE"

INITIAL_ADMIN_USER="admin@system.com"
INITIAL_ADMIN_PASSWORD="DEFINE PASSWORD HERE"